body {
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Logo {
  height: 70px;
}

.mainButton {
  background-color: aqua;
  color: white;
  border: 0px;
  padding: 5px 10px;
  border-radius:20px;
  font-weight: bolder;
  box-shadow: 2px 2px pink;
}

.mainButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px pink;
}
